@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #c2c2c2;
    text-decoration: none;
    background-color: #24252A;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 3%;
    background-color: #24252A;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    background-color: #24252A;
}

.nav_links {
    list-style: none;
    background-color: #24252A;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    background-color: #24252A;
}

.nav_links li a:hover {
    color: #e1e1e1;
    background-color: #24252A;
}

.wwe {
    color: black;
    font-weight: 600;
    
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(117, 185, 185, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(117, 185, 185, .8);
}

