img 
{
    border: 3px solid blueviolet;
}

#responsive 
{
    width: 50%;
    height: 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#responsive:hover {
    opacity: 0.7; 
    
    /* 
    Opacity - it makes the image blurry
    0.7 - value of transparency 
        Note: lower the value, more transparent it is.
    */

}

.modal {
    display: none; /* hidden as default */
    position: fixed; /*stays in place */
    z-index: 1; /* - sit on top 
                   - property works when position elements and flex items are present*/
    padding-top: 100px; /*location of box*/
    left: 0;
    top: 0;
    width: 100%; /*full width*/
    height: 100%; /*full height*/
    overflow: auto; /* - enables scroll if needed 
                       - clips the content or add scrolls*/
    background-color: rgb(0,0,0); /*fallback colors*/
    background-color: rgba (0,0,0,0.9); /*black with opacity */

}
.modal-content {
    margin:auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/*caption the modal image*/

#caption {
    margin:auto;
    display: block;
    width:80%;
    max-width: 700px;
    text-align: center;
    color:#ccc;
    padding:10px 0;
    height:150px;
}

/*add an animation*/

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.06s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} to {transform: scale(1);}
} 

/*@webkit or AKA blink - renders content in Safari and Chrome 
                         - to mitigate the risk of cross platform incompatibility
                         - used for transitions, transform, animation, calc, flexbox, column
*/

/*
    keyframes syntax
        @keyframes animationname {keyframe-selector {css-style;}}

    @keyframe - rule to specify animation code.
              - animation is gradually changing from one set of CSS to another
        */


@keyframes zoom {
    from {transform:scale(0)} to {transform: scale(1);}
}

/*
    from { - beginning of animation
    to {   - end of animation/animation complete
    
    transform:scale - 2d/3d transformation of an event
        Properties:
            1. Rotate
            2. Scale
            3. Move
            4. Skew
*/

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.03s;
}

.close.hover, close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*100% image width on smaller screens*/

@media only screen and (max-width: 700px) 
{
    .modal-content{
        width: 100%;
    }    
}
