ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    /*overflow - controls what happens to the content that is too big to fit into the area
        Properties: 
            hidden
            visible
            scroll
            auto

}