.footer {
    position: absolute;
    bottom: 0;
    padding:40px 0;
  }
  
  .footer .social {
    padding-bottom: 25px;
  }
  
  .social a{
    font-size: 25px;
    width: 30px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
  }
  
  .social a:hover{
    opacity: 0.9;
  }
  
  .col ul {
    padding:40px;
    list-style: none;
    font-size: 20px;
    line-height: 2;
  }
  
  .col ul li a {
    color: inherit;
    text-decoration: none;
  }
  
  