ol {
    background-color: rgb(129, 202, 34);
}


#JS img{
    width:10%;
    height:10%;
    border-radius: 360px;
}

ul > li {
    list-style-type: none;
    letter-spacing: 5px;
}


p {
    font-family: sans-serif;
}