?*universal selector*/
*{
    font-family: 'lobster', cursive;
}



h1{
    color: brown;
}

span{
    color: blueviolet;
}

/*id selector*/

#title-1 {
    color: aqua;
}

/*class selector*/

.title-2 {
    color: #8E00FE;
    text-align: center
}

/*attribute selector*/

input[type="text"] {
    background color: aquamarine;
}

/*Combinator Selector

    Descendant Selector
    - white spaces
    -selects/targets "all elements" that matches the specified elements
/* 
    Syntax: first element child element { 
        property: value
    }
*/

div p {
    background-color: red;
}

/* child Selector
    - selects/targets "all" elements that are a;; "children" of a specified element
*/

div > p {
    background-color: chocolate;
}

/*adjacent sibling selector (+)
    -selects/target an element that is directly after the first selector
*/ 

p + p {
    background-color: maroon;
}

div + p {
    background-color: #e2288d;
}

/*
General sibling selector
*/

p ~ p {
    background-color: #e2288d;
}



/*lesson 10/07/2022*/

/*Psuedo elements   
    -used to style specific part of an element
    synta: selector::pseudo-element {property:value}

*/

/* first line - first line of a sentence is affected */
p::first-line {
    color: #f00;
    font-variant: small-caps;
}

p::first-letter {
    color: brown;
    font-size: 200%
}

#fox img{
    width:10%;
    height:10%;
    border-radius: 4px;
}

/*manipulating unordered list */

li{
    list-style-type: none;
}

ul > li {
    letter-spacing: 4px;
}