.list {
    background-color: greenyellow;
}

#title-1 {
    font-size: 180%
}

#title-2 {
    font-variant: small-caps;
}


div img {
    width:10%;
    height:10%;
    border-radius: 360px;
    border-style: solid BLACK;
}

p + ul {
    list-style-type: none;
}

p ~ p {
    text-align: right;
}   

ul > li {
    letter-spacing: 10px;
}